[submodule "dependencies/mpvcontextmenu"]
	path = dependencies/mpvcontextmenu
	url = https://gitlab.com/carmanaught/mpvcontextmenu.git
[submodule "dependencies/fformation/base"]
	path = dependencies/fformation/base
	url = https://github.com/vrichter/fformation.git
[submodule "dependencies/fformation/gco"]
	path = dependencies/fformaition/gco
	url = https://github.com/vrichter/fformation-gco.git
[submodule "dependencies/munkres/hungarian"]
	path = dependencies/munkres/hungarian
	url = https://github.com/RoboJackets/hungarian.git
[submodule "dependencies/munkres/luwra"]
	path = dependencies/munkres/luwra
	url = https://github.com/vapourismo/luwra.git
