[submodule "mpvcontextmenu"]
	path = mpvcontextmenu
	url = https://gitlab.com/carmanaught/mpvcontextmenu.git
[submodule "base"]
	path = base
	url = https://github.com/vrichter/fformation.git
[submodule "gco"]
	path = gco
	url = https://github.com/vrichter/fformation-gco.git
[submodule "hungarian"]
	path = hungarian
	url = https://github.com/RoboJackets/hungarian.git
[submodule "luwra"]
	path = luwra
	url = https://github.com/vapourismo/luwra.git
